obj/
bin/
!vendor/**/bin/
!build/**/bin/
*.log
*.user
*.suo
*.pdb
*.nupkg
*.cache
*.Cache
*.force
*.baml
Thumbs.db
Package/Binaries/
Package/Sources/
*.docstates
*.idea
_ReSharper.*/
*.local.js
src/**/less/*.css
src/**/**/less/*.css
*.orig
