obj/
bin/
!vendor/**/bin/
!build/**/bin/
*.log
*.user
*.suo
*.pdb
*.nupkg
*.cache
*.Cache
*.force
*.baml
Thumbs.db
Package/Binaries/
Package/Sources/
packages
*.docstates
*.idea
_ReSharper.*/
src/**/less/*.css
